<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <%- include("../../partials/adminHead") %>
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("../../partials/adminSidebar") %>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../../partials/adminHeader") %>

      <div class="main-content">
        <div class="manage-page">
          <div class="search-box">
            <form method="get" class="search-form">
              <input
                type="search"
                name="query"
                id="query"
                placeholder="Search Coupon"
              />
              <button type="submit">Search</button>
              <small id="errorMessage" class="text-danger"></small>
            </form>
          </div>
          <div class="add-new">
            <a href="/admin/coupons/new" class="btn btn-success">
              <img src="/images/icons/add-white.png" alt="" class="btn-icon" />
              Add New Coupon
            </a>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Coupon Code</th>
              <th>Discount(%)</th>
              <th>Description</th>
              <th>Minimum Order Amount</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Used Count</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="couponTableBody">
            <tr>
              <td colspan="9" style="text-align: center">Loading</td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <div class="pagination-btns">
            <button class="prev-btn">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="next-btn">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/adminFooter") %> 
      <script src="/javascripts/admin/couponManagement.js"></script>
  </body>
</html>
