<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/adminLogin.css">
  </head>
  <body>

    <div class="form-wrapper">
        <div class="form-container">
          <h1 class="text-center text-white">Admin Login</h1>
          <form action="/admin/login" method="POST">
            <div class="form-group mt-4">
              <label for="email" class="text-white">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                value="<%= email || '' %>"
              />
            </div>
      
            <div class="form-group mt-4">
              <label for="password" class="text-white">Password</label>
              <input
                type="password"
                class="form-control underline-input"
                id="password"
                name="password"
              />
            </div>
      
            <% if (errorMessage) { %>
            <p class="text-danger"><%= errorMessage %></p>
            <% } %>
      
            <button
              type="submit"
              class="btn login-btn btn-primary mt-5 fs-5 fw-bold"
            >
              Login
            </button>
          </form>
        </div>
      </div>
      

  </body>
</html>
