<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <%- include("../partials/adminHead") %>
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("../partials/adminSidebar") %>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../partials/adminHeader") %>

      <div class="main-content">
        <div class="search-box">
          <form class="search-form">
            <input
              type="search"
              id="searchQuery"
              placeholder="Search user"
            />
            <button type="submit">Search</button>
            <small id="errorMessage" class="text-danger"></small>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Is Verified</th>
              <th>Created At</th>
              <th>Is Blocked</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="userTable">
            <!-- show the table row with data  -->
          </tbody>
        </table>

        <div class="pagination">
          <div class="pagination-btns">
            <button class="prev-btn">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="next-btn">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
        

      </div>

      <div id="customDialog" class="dialog">
        <div class="dialog-content">
          <p>Blocking:&nbsp;<span id="blockUserName"></span></p>
          <form id="blockUserForm">
            <label for="blockReason">Why are you blocking this user?</label>
            <p class="errorText"><small id="resonError" class="text-danger"></small></p>
            <p class="errorText"><small id="resonSuccess" class="text-success"></small></p>
            
            <input
              type="text"
              id="blockReason"
              placeholder="Enter reason..."
            />
            <button type="submit" id="blockButton">Block</button>
            <button type="button" id="cancelButton">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <%- include("../partials/adminFooter") %>
    <script src="/javascripts/admin/management.js"></script>
    <script src="/javascripts/admin/userManagement.js"></script>
    <script>
      function confirmToggleBlock(event, form) {
        const actionText = form.querySelector("button").textContent.trim();
        const confirmAction = window.confirm(
          `Are you sure you want to ${actionText} this user?`
        );
        return confirmAction;
      }
    </script>
  </body>
</html>
