<header>
    <div class="header-top">
        <div class="welcome-text">
            <p>Welcome User</p>
        </div>
        <div class="contact-details">
            <p>admin@chipkart.com</p>
            <p>+91 9544928733</p>
        </div>
    </div>

    <div class="header-main">
        <div class="branding">
            <a href="/">
                <h1>ChipKart Computers</h1>
            </a>
        </div>

        <div class="search-bar">
            <p>Serchbar</p>
        </div>

        <div class="user-side">
            <a href="/signup" class="account" >
                <img src="/images/icons/User.png" alt="">
                <p>Account</p>
            </a>

            <div class="user-collection">
                <a href="" class="wishlist">
                    <img src="/images/icons/Heart-white.png" alt="">
                </a>
                <a href="" class="cart">
                    <img src="/images/icons/ShoppingCart-white.png" alt="">
                </a>
            </div>
        </div>


    </div>

    <nav>
        <div class="browse-category">
            <img src="/images/icons/category-Left-white.png" alt="">
            <p>BROWSE ALL CATEGORY</p>
            <img src="/images/icons/Expand-Arrow-down-white.png" alt="">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">My Orders</a></li>
                <li><a href="">ALL PRODUCTS</a></li>
            </ul>
        </div>
    </nav>
</header>