<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <%- include("../../partials/adminHead") %>
    <link rel="stylesheet" href="/styles/adminPages/report.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("../../partials/adminSidebar") %>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../../partials/adminHeader") %>

      <div class="main-content">
        <div class="filters-strip">
          <div class="period-filter">
            <label for="period">Period</label>
            <select id="period" class="form-select">
              <option value="all">All</option>
              <option value="day">Today</option>
              <option value="week">This Week</option>
              <option value="thisMonth">This Month</option>
              <option value="lastMonth">Last Month</option>
              <option value="custom">Custom</option>
            </select>
          </div>

          <div class="date-range" id="dateRange">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" class="form-control" />

            <label for="endDate">End Date</label>
            <input type="date" id="endDate" class="form-control" />
          </div>

          <div class="generate-btns">
            <button class="btn btn-generate" id="pdfBtn" onclick="generatePdf()">Generate PDF</button>
            <button class="btn btn-generate" id="excelBtn" onclick="generateExcel()">Generate Excel</button>
          </div>
        </div>

        <div class="report-container">
            <div class="report-summary">
                <div class="total-revenue">
                    <p>Total Revenue</p>
                    <span id="totalRevenue">0</span>
                </div>

                <div class="total-revenue">
                    <p>Total Orders</p>
                    <span id="totalOrders">0</span>
                </div>

                <div class="total-revenue">
                    <p>Total Products Sold</p>
                    <span id="totalProducts">0</span>
                </div>

                <div class="total-revenue">
                    <p>Total discount deduction</p>
                    <span id="totalDiscount">0</span>
                </div>
            </div>

            <div class="all-orders-container">

                <table class="table">
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Total Amount</th>
                        <th>Total Products</th>
                        <th>Payment Method</th>
                      </tr>
                    </thead>
                    <tbody id="ordersTableBody"></tbody>
                  </table>

            </div>
            
        </div>
      </div>
    </div>

    <%- include("../../partials/adminFooter") %>
    <script>
      const dateRange = document.getElementById("dateRange");
      const period = document.getElementById("period");

      period.addEventListener("change", () => {
        if (period.value === "custom") {
          dateRange.style.display = "flex";
        } else {
          dateRange.style.display = "none";
        }
      });
    </script>
    <script src="/javascripts/admin/reports.js"></script>
  </body>
</html>
