            <!-- Product Card loop -->
            <!-- <% products.forEach((product) => { %>
            <div class="product-card">
              <div class="product-card-image">
                <img src="<%= product.images[0].filepath%>" alt="Product 1" />
              </div>
              <div class="product-card-details">
                <h4>
                  <a href="#"><%= product.productName %></a>
                </h4>
                <div class="price">
                  <p class="selling-price"><%= product.finalPrice %></p>
                  <p class="actual-price"><%= product.mrp %></p>
                </div>
              </div>
              <div class="product-actions">
                <button class="add-cart">Add Cart</button>
                <button class="wishlist">Wishlist</button>
              </div>
            </div>
            <% }) %> -->