<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add review</title>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/userHeader") %>

    <div class="page-wrapper content-wrapper">
        <h1>Add new revew</h1>
    </div>

    <%- include("../partials/userFooter") %>

  </body>
</html>
