<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/authForm.css" />
  </head>
  <body>
    <%- include("../partials/userHeader") %>

    <div class="form-wrapper page-wrapper">
      <div class="form-container">
        <h1 class="text-center">Login</h1>
        <form action="/login" method="POST" id="loginForm">
          <div class="form-group mt-4">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value="<%= email || '' %>"
              required
            />
            <small class="text-danger" id="emailError"></small>
          </div>

          <div class="form-group mt-4">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control underline-input"
              id="password"
              name="password"
              required
            />
            <small class="text-danger" id="passwordError"></small>
          </div>

          <small class="text-danger" id="loginError"></small>

          <button
            type="submit"
            class="btn login-btn btn-primary mt-4 fs-5 fw-bold"
          >
            Login
          </button>

          <div class="link-text mt-4">
            <a href="/signup">Don't Have account? Signup</a>
          </div>
        </form>

        <div class="google-auth-button">
          <p>OR</p>

          <a id="google-btn" href="/auth/google" >
            <img src="/images/icons/google-auth.png" alt="Google Icon" style="width: 20px; height: 20px; margin-right: 10px;" />
            Login with Google
          </a>
        </div>
      </div>
    </div>

    <%- include("../partials/userFooter") %>
    <script src="/javascripts/validations/login.js"></script>
  </body>
</html>
