<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/authForm.css" />
  </head>
  <body>
    <%- include("../partials/userHeader") %>

    <div class="form-wrapper page-wrapper">
      <div class="form-container">
        <h1 class="text-center">Email Verification</h1>
        <form action="/varify-otp" method="POST" id="otp-form">
          <div class="form-group otp-container">
            <div class="alert alert-success text-center py-1 px-2 d-none" id="successMessage" role="alert">
              
            </div>
            
            <div class="alert alert-danger text-center py-1 px-2 d-none" id="errorMessage" role="alert">
              
            </div>
            <label for="otp">Enter the OTP here</label>
            <div class="otp-timer text-muted"><span id="timer"> </span></div>
            <div class="otp-input-group">
              <input
                type="text"
                maxlength="1"
                oninput="validateOTPInput(this)"
                class="otp-box"
                id="otp1"
                name="otp1"
                required
              />
              <input
                type="text"
                maxlength="1"
                oninput="validateOTPInput(this)"
                class="otp-box"
                id="otp2"
                name="otp2"
                required
              />
              <input
                type="text"
                maxlength="1"
                oninput="validateOTPInput(this)"
                class="otp-box"
                id="otp3"
                name="otp3"
                required
              />
              <input
                type="text"
                maxlength="1"
                oninput="validateOTPInput(this)"
                class="otp-box"
                id="otp4"
                name="otp4"
                required
              />
            </div>
          </div>
          <button
            type="submit"
            class="btn login-btn btn-primary mt-4 fs-5 fw-bold"
          >
            Submit
          </button>
        </form>
        <button
          id="resendOtpBtn"
          class="btn btn-primary mt-4 btn-sm"
          type="submit"
        >
          Resend OTP
        </button>
      </div>
    </div>

    <%- include("../partials/userFooter") %>
    <script src="/javascripts/validations/otpValidation.js"></script>
  </body>
</html>
