<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <%- include("../../partials/adminHead") %>
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("../../partials/adminSidebar") %>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../../partials/adminHeader") %>

      <div class="main-content">
        <!-- search box and add new  -->
        <div class="manage-page">
          <div class="search-box">
            <form
              method="get"
              class="search-form"
            >
              <input
                type="search"
                name="query"
                id="query"
                placeholder="Search Category"
                required
              />
              <button type="submit">Search</button>
              <small id="errorMessage" class="text-danger"></small>
            </form>
          </div>
          <div class="add-new">
            <a href="/admin/categories/new" class="btn btn-success">
              <img src="/images/icons/add-white.png" alt="" class="btn-icon" />
              Add New Category
            </a>
          </div>
        </div>
        <!-- table of category  -->
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Category Name</th>
              <th>Image</th>
              <th>Created At</th>
              <th>Last Updated At</th>
              <th>Is Listed</th>
              <th>Add / Change Offer</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody  id="categoryTableBody">

          </tbody>
        </table>

        

        <!-- pagination  -->
        <div class="pagination">
          <form action="/admin/categories" method="get" style="display: inline;">
            <input type="hidden" name="page">
            <button type="submit">Previous</button>
          </form>
      
          <span>Page 1 of 1</span>
      
          <form action="/admin/categories" method="get" style="display: inline;">
            <input type="hidden" name="page">
            <button type="submit">Next</button>
          </form>
        </div>

      </div>
    </div>

    <%- include("../../partials/adminFooter") %>
    <script src="/javascripts/admin/categoryManagement.js"></script>
  </body>
</html>
