<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <%- include("../../partials/head") %>
    <link rel="stylesheet" href="/styles/authForm.css" />
  </head>
  <body>
    <%- include("../../partials/userHeader") %>

    <div class="form-wrapper page-wrapper">
      <div class="form-container">
        <h1 class="text-center">New Password</h1>
        <p class="text-success" id="successMsg"></p>
        <p class="text-danger" id="errorMsg"></p>
        <form id="newPasswordForm">
          <!-- new password  -->
          <div class="form-group mt-4">
            <label for="password">Enter New Password</label>
            <input type="password" class="form-control" id="newPassword" />
            <small class="text-danger" id="passwordError"></small>
          </div>

          <!-- confirm password  -->
          <div class="form-group mt-4">
            <label for="password">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" />
            <small class="text-danger" id="confirmPasswordError"></small>
          </div>

          <button type="submit" class="btn btn-primary mt-5 fs-5 fw-bold w-100">
            Save Password
          </button>

          <div class="link-text mt-4">
            <a href="/login">Return to Login</a>
          </div>
        </form>
      </div>
    </div>

    <%- include("../../partials/userFooter") %>
    <script src="/javascripts/validations/newPassword.js"></script>
  </body>
</html>
