<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Updated</title>
    <%- include("../../partials/head") %>
    <link rel="stylesheet" href="/styles/authForm.css" />
  </head>
  <body>
    <%- include("../../partials/userHeader") %>

    <div class="form-wrapper page-wrapper">
      <div class="card shadow-lg p-4 text-center">
        <h3 class="mb-4">Password Changed Successfully</h3>
        <div>
            <a href="/login" class="btn btn-primary">Go Back To Login</a>
        </div>
      </div>
    </div>

    <%- include("../../partials/userFooter") %>
  </body>
</html>
