<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart</title>
    <%- include("../../partials/head") %>
    <link rel="stylesheet" href="/styles/userPages/cart.css" />
  </head>
  <body>
    <%- include("../../partials/userHeader") %>

    <div class="page-wrapper">
      <div class="content-wrapper">
        <div class="container-fluid cart-page-container">
          <h3 class="cart-title">User Cart</h3>
          <div class="main-content-container d-flex gap-4">
            <div class="cart-container flex-grow-1 overflow-auto content-area" id="cartContainer">

              <!-- cart item card  -->
              <!-- <div class="cartItem-card d-flex align-items-center p-4">
                <div class="product-data d-flex align-items-center gap-4">
                  <div class="cartItem-image">
                    <img src="/images/sample-product.jpg" alt="Product Image" />
                  </div>
                  <div class="cartItem-details flex-grow-1">
                    <h5 class="cartItem-name">Product Name sdfs sf sdf</h5>
                    <p class="cartItem-price">25</p>
                  </div>
                </div>

                <div class="cartItem-quantity">
                  <button class="qty-btn">-</button>
                  <span class="qty-value">1</span>
                  <button class="qty-btn">+</button>
                </div>

                <div class="cartItem-total">
                  <p>$25.00</p>
                </div>

                <button class="cartItem-delete">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div> -->

            </div>
            <div class="cart-total-container fixed-side">
              <div class="cart-total-content">
                <h4>Cart Total</h4>
                <div class="cart-total-amounts">
                  <table>
                    <tr>
                      <td>
                        <p>Cart Subtotal</p>
                      </td>
                      <td>
                        <p id="cartSubtotal"></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Shipping Cost</p>
                      </td>
                      <td>
                        <p id="shippingCost"></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>Cart Total</p>
                      </td>
                      <td>
                        <p id="cartTotal"></p>
                      </td>
                    </tr>
                  </table>
                </div>
                <button id="proceedBtn">Proceed to checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/userFooter") %>
    <script src="/javascripts/user/cart.js"></script>
    <script src="/javascripts/apiCalls/common.js"></script>
  </body>
</html>
