<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Coupons</title>
    <link rel="stylesheet" href="/styles/account.css" />
    <%- include("../../partials/head") %>
  </head>
  <body>
    <%- include("../../partials/userHeader") %>

    <div class="account-wrapper page-wrapper">
      <div class="content-wrapper profile-container">
        <%- include("../../partials/userSidebar") %>

        <div class="profile-data">
          <div class="profie-content-wrapper">
            <div class="content-section">
              <div class="account-title">
                <p class="page-title">My Coupons</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/userFooter") %>
  </body>
</html>
