<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Orders</title>
    <link rel="stylesheet" href="/styles/account.css" />
    <link rel="stylesheet" href="/styles/userPages/orders.css" />
    <%- include("../../../partials/head") %>
  </head>
  <body>
    <%- include("../../../partials/userHeader") %>

    <div class="account-wrapper page-wrapper">
      <div class="content-wrapper profile-container">
        <%- include("../../../partials/userSidebar") %>

        <div class="profile-data">
          <div class="profie-content-wrapper">
            <div class="content-section">
              <div class="account-title">
                <p class="page-title">My Orders</p>
              </div>
              <!-- orders wrapper  -->
              <div class="ordersContainer container">
              </div>

            </div>

            <div class="pagination mt-4">
              <button id="prevBtn" class="pagination-btn" disabled><i class="fa-solid fa-chevron-left"></i></button>
              <button id="nextBtn" class="pagination-btn"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <%- include("../../../partials/userFooter") %>
    <script src="/javascripts/user/orders.js"></script>
  </body>
</html>
