<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <%- include("../../partials/adminHead") %>
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("../../partials/adminSidebar") %>

    <!-- Main Content -->
    <div class="content-wrapper">
      <!-- Navbar -->
      <%- include("../../partials/adminHeader") %>

      <div class="main-content">
        <div class="search-box">
          <form class="search-form">
            <input
              type="search"
              id="searchQuery"
              placeholder="Search Order by ID"
            />
            <button type="submit">Search</button>
            <small id="errorMessage" class="text-danger"></small>
          </form>
          <div class="reset-btn">
            <a href="/admin/orders">Get all Orders</a>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Order Id</th>
              <th>Ordered Date</th>
              <th>Total Items</th>
              <th>Total Amount</th>
              <th>Payment Status</th>
              <th>Payment Method</th>
              <th>Order Status</th>
              <th>View Order</th>
            </tr>
          </thead>
          <!-- show the table row with data  -->
          <tbody id="orderTable">
            <tr>
              <td colspan="8" style="text-align: center">Loading</td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <div class="pagination-btns">
            <button class="prev-btn">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="next-btn">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partials/adminFooter") %>
    <script src="/javascripts/admin/orders.js"></script>
  </body>
</html>
