body {
  font-family: "Poppins", serif;
  background-color: #f1f3f6;
}

.page-wrapper{
  margin-top: 153px;
  min-height: calc(100vh - 153px);
}

.content-wrapper{
  padding: 0 54px;
}

p{
  margin-bottom: 0;
}

.toast {
  opacity: 1 !important; 
}

.toast-top-center{
  margin-top: 20px;
}